
@media (min-width: 1281px) {

  .mobinav{
    display: none;
  }


}

@media (min-width: 1025px) and (max-width: 1280px) {

  .mobinav{
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .mobinav{
    display: none;
  }
  .partner-img a img{
    height: 226px;
}
.bengaledu-item .cource-img img{
    height: 196px;
}


}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}


@media (min-width: 320px) and (max-width: 480px) {

  .menu-style{
    display: none;
  }
  .head-left span{
    font-size: 10px;
  }
  .services-desc .services-title{
    font-size: 14px;;
  }
  .course-header {
    margin-top: 15px;
  }
  .partner-img a img{
      height: 175px;
  }
  .bengaledu-item .cource-img img{
      height: 146px;
  }
  .next-cz {
    top: -180px!important;
  }
  .prev-cz{
    top: -180px!important;
  }
  .next-cl {
    top: -180px!important;
  }
  .prev-cl{
    top: -180px!important;
  }
  .next-tz {
    top: -180px!important;
  }
  .prev-tz{
    top: -180px!important;
  }
}

@media (max-width: 767px){
  .caption-title{
    font-size: 25px;
    line-height: 25px;
  }
  .caption-subtitle{
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px){
  .wb-services .services-item {
    margin-top: 100px;
  }
}
